PINECONE_API_KEY = "YOUR_PINECONE_API_KEY"
PINECONE_ENVIRONMENT = "YOUR_PINECONE_ENVIRONMENT_REGION"
PINECONE_INDEX_NAME = "YOUR_PINECONE_INDEX_NAME"

COHERE_API_KEY = "YOUR_COHERE_API_KEY"
GROQ_API_KEY = "YOUR_GROQ_API_KEY"
